In [1]:
import pandas as pd
import 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
data=pd.read_csv("C:\\Users\\USER\\DA\\Data Sets\\Car_sales.csv")

In [4]:
data.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [5]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [15]:
data.dropna(inplace=True)

# Checking the contents in latest launch columns

In [16]:
data.Latest_Launch.unique()

array(['2012-02-02T00:00:00.000000000', '2011-06-03T00:00:00.000000000',
       '2011-03-10T00:00:00.000000000', '2011-10-08T00:00:00.000000000',
       '2011-08-09T00:00:00.000000000', '2012-02-27T00:00:00.000000000',
       '2012-01-29T00:00:00.000000000', '2011-04-04T00:00:00.000000000',
       '2011-11-02T00:00:00.000000000', '2011-09-03T00:00:00.000000000',
       '2012-03-23T00:00:00.000000000', '2011-07-23T00:00:00.000000000',
       '2012-02-23T00:00:00.000000000', '2011-11-27T00:00:00.000000000',
       '2011-09-28T00:00:00.000000000', '2011-08-17T00:00:00.000000000',
       '2012-03-19T00:00:00.000000000', '2011-05-24T00:00:00.000000000',
       '2011-12-22T00:00:00.000000000', '2011-10-23T00:00:00.000000000',
       '2012-05-12T00:00:00.000000000', '2011-09-11T00:00:00.000000000',
       '2012-04-13T00:00:00.000000000', '2012-01-16T00:00:00.000000000',
       '2011-11-17T00:00:00.000000000', '2012-06-06T00:00:00.000000000',
       '2011-10-06T00:00:00.000000000', '2012-05-08T00:00:00.000000000',
       '2011-12-12T00:00:00.000000000', '2012-07-01T00:00:00.000000000',
       '2011-10-31T00:00:00.000000000', '2011-08-07T00:00:00.000000000',
       '2012-03-06T00:00:00.000000000', '2012-01-06T00:00:00.000000000',
       '2012-07-26T00:00:00.000000000', '2011-11-25T00:00:00.000000000',
       '2011-09-01T00:00:00.000000000', '2012-03-31T00:00:00.000000000',
       '2012-01-31T00:00:00.000000000', '2012-08-20T00:00:00.000000000',
       '2011-12-20T00:00:00.000000000', '2011-09-26T00:00:00.000000000',
       '2012-04-25T00:00:00.000000000', '2012-02-25T00:00:00.000000000',
       '2012-09-14T00:00:00.000000000', '2012-01-14T00:00:00.000000000',
       '2012-08-16T00:00:00.000000000', '2011-10-21T00:00:00.000000000',
       '2012-05-20T00:00:00.000000000', '2012-03-21T00:00:00.000000000',
       '2012-10-09T00:00:00.000000000', '2012-02-08T00:00:00.000000000',
       '2012-09-10T00:00:00.000000000', '2011-11-15T00:00:00.000000000',
       '2012-06-14T00:00:00.000000000', '2012-04-15T00:00:00.000000000',
       '2012-03-04T00:00:00.000000000', '2012-10-05T00:00:00.000000000',
       '2011-12-10T00:00:00.000000000', '2012-07-09T00:00:00.000000000',
       '2012-05-10T00:00:00.000000000', '2012-03-29T00:00:00.000000000',
       '2012-08-03T00:00:00.000000000', '2012-06-04T00:00:00.000000000',
       '2012-04-23T00:00:00.000000000', '2012-11-24T00:00:00.000000000',
       '2012-08-28T00:00:00.000000000', '2012-06-29T00:00:00.000000000',
       '2012-01-17T00:00:00.000000000', '2012-05-18T00:00:00.000000000',
       '2012-12-19T00:00:00.000000000', '2012-09-22T00:00:00.000000000',
       '2012-07-24T00:00:00.000000000', '2008-02-13T00:00:00.000000000',
       '2009-10-20T00:00:00.000000000', '2011-04-24T00:00:00.000000000',
       '2011-07-12T00:00:00.000000000', '2011-06-13T00:00:00.000000000',
       '2011-03-17T00:00:00.000000000', '2011-08-31T00:00:00.000000000',
       '2011-08-02T00:00:00.000000000', '2011-05-06T00:00:00.000000000',
       '2011-03-07T00:00:00.000000000', '2011-09-25T00:00:00.000000000',
       '2011-05-31T00:00:00.000000000', '2011-02-18T00:00:00.000000000',
       '2011-09-21T00:00:00.000000000', '2011-06-25T00:00:00.000000000',
       '2011-04-26T00:00:00.000000000', '2011-11-14T00:00:00.000000000',
       '2012-01-25T00:00:00.000000000', '2012-11-26T00:00:00.000000000',
       '2012-06-16T00:00:00.000000000', '2012-10-15T00:00:00.000000000',
       '2011-05-18T00:00:00.000000000', '2012-02-19T00:00:00.000000000',
       '2012-12-21T00:00:00.000000000', '2011-07-11T00:00:00.000000000',
       '2011-03-16T00:00:00.000000000', '2011-01-15T00:00:00.000000000',
       '2011-04-11T00:00:00.000000000', '2011-02-10T00:00:00.000000000',
       '2012-12-29T00:00:00.000000000', '2011-08-01T00:00:00.000000000',
       '2011-01-24T00:00:00.000000000', '2011-08-27T00:00:00.000000000',
       '2012-10-30T00:00:00.000000000', '2011-04-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

# change its datatype into date time

In [17]:
data["Latest_Launch"]=pd.to_datetime(data.Latest_Launch)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(2), object(3)
memory usage: 17.4+ KB

# Extracting year,month,date from the Latest_Launch column

In [19]:
data["year"]=pd.DatetimeIndex(data.Latest_Launch).year

In [20]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,2012,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,2011,6
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,2011,3
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,2011,10
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105,2011,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26.0,2011-01-24,46.943877,2011,1
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,2011-08-27,47.638237,2011,8
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,2012-10-30,61.701381,2012,10
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,2011-05-31,48.907372,2011,5
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,2011-04-01,47.946841,2011,4

In [21]:
data["month"]=pd.DatetimeIndex(data.Latest_Launch).month

In [23]:
data["day"]=pd.DatetimeIndex(data.Latest_Launch).day

In [27]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,date,day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2012-02-02,58.280150,2012,2,2012-02-02,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778,2011,6,2011-06-03,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2011-03-10,91.389779,2011,3,2011-03-10,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,2011-10-08,62.777639,2011,10,2011-10-08,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2011-08-09,84.565105,2011,8,2011-08-09,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26.0,2011-01-24,46.943877,2011,1,2011-01-24,24
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,2011-08-27,47.638237,2011,8,2011-08-27,27
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,2012-10-30,61.701381,2012,10,2012-10-30,30
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,2011-05-31,48.907372,2011,5,2011-05-31,31
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,2011-04-01,47.946841,2011,4,2011-04-01,1

In [31]:
data.drop(columns="date",inplace=True)

# Lets convert the data type of fuel efficiency into integer

In [32]:
data.Fuel_efficiency=data.Fuel_efficiency.astype(int)

In [33]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22,2011-08-09,84.565105,2011,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,1,24
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,8,27
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,10,30
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26,2011-05-31,48.907372,2011,5,31
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26,2011-04-01,47.946841,2011,4,1

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int32
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    int64
 18  day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int32(1), int64(3), object(3)
memory usage: 17.8+ KB

In [39]:
data.Fuel_efficiency=data.Fuel_efficiency.astype('int64')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    int64
 18  day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int64(4), object(3)
memory usage: 18.3+ KB

In [40]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,2,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,2011,6,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,3,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,2011,10,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22,2011-08-09,84.565105,2011,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,1,24
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,8,27
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,10,30
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26,2011-05-31,48.907372,2011,5,31
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26,2011-04-01,47.946841,2011,4,1

# converting the numerical colums into categorical columns

In [44]:
data.month.replace({
    1:"January",
    2:"February",
    3:"March",
    4:"April",
    5:"May",
    6:"June",
    7:"July",
    8:"August",
    9:"September",
    10:"October",
    11:"November",
    12:"December"
    },inplace=True)

In [45]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,February,2
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,2011,June,3
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,March,10
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,2011,october,8
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22,2011-08-09,84.565105,2011,August,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,January,24
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,August,27
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,october,30
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26,2011-05-31,48.907372,2011,May,31
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26,2011-04-01,47.946841,2011,April,1

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    object
 18  day                  117 non-null    int64
dtypes: datetime64[ns](1), float64(11), int64(3), object(4)
memory usage: 18.3+ KB

# Label encoder

In [47]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [48]:
data["Le_Vehicle"]=le.fit_transform(data.Vehicle_type)

In [49]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,Le_Vehicle
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2012,February,2,1
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,2011,June,3,1
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,2011,March,10,1
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,2011,october,8,1
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22,2011-08-09,84.565105,2011,August,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26,2011-01-24,46.943877,2011,January,24,1
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26,2011-08-27,47.638237,2011,August,27,1
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27,2012-10-30,61.701381,2012,october,30,1
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26,2011-05-31,48.907372,2011,May,31,1
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26,2011-04-01,47.946841,2011,April,1,1

In [50]:
data["Le_Vehicle"].unique()

array([1, 0])

In [54]:
data["Vehicle_type"].unique()

array(['Passenger', 'Car'], dtype=object)

In [55]:
data[data["Vehicle_type"]=='Car']

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,Le_Vehicle
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,224.2,4.470,26.0,17,2012-03-06,90.211700,2012,March,6,0
41,Dodge,Ram Wagon,16.767,15.510,Car,21.315,3.9,175.0,109.6,78.8,192.6,4.245,32.0,15,2012-01-06,71.135292,2012,January,6,0
42,Dodge,Ram Van,31.038,13.425,Car,18.575,3.9,175.0,127.2,78.8,208.5,4.298,32.0,16,2012-07-26,70.078322,2012,July,26,0
43,Dodge,Dakota,111.313,11.260,Car,16.980,2.5,120.0,131.0,71.5,215.0,3.557,22.0,19,2011-11-25,49.645002,2011,November,25,0
45,Dodge,Caravan,181.749,12.025,Car,19.565,2.4,150.0,113.3,76.8,186.3,3.533,20.0,24,2011-09-01,61.227000,2011,September,1,0
52,Ford,Explorer,276.747,16.640,Car,31.930,4.0,210.0,111.6,70.2,190.7,3.876,21.0,19,2012-04-25,87.635496,2012,April,25,0
53,Ford,Windstar,155.787,13.175,Car,21.410,3.0,150.0,120.7,76.6,200.9,3.761,26.0,21,2012-02-25,62.095048,2012,February,25,0
54,Ford,Expedition,125.338,23.575,Car,36.135,4.6,240.0,119.0,78.7,204.6,4.808,26.0,16,2012-09-14,100.024802,2012,September,14,0
55,Ford,Ranger,220.650,7.850,Car,12.050,2.5,119.0,117.5,69.4,200.7,3.086,20.0,23,2012-01-14,47.389531,2012,January,14,0
56,Ford,F-Series,540.561,15.075,Car,26.935,4.6,220.0,138.5,79.1,224.5,4.241,25.1,18,2012-08-16,89.401935,2012,August,16,0
59,Honda,CR-V,73.203,17.710,Car,20.550,2.0,146.0,103.2,68.9,177.6,3.219,15.3,24,2012-03-21,60.087967,2012,March,21,0
60,Honda,Passport,12.855,17.525,Car,26.600,3.2,205.0,106.4,70.4,178.2,3.857,21.1,19,2012-10-09,83.602501,2012,october,9,0
61,Honda,Odyssey,76.029,19.490,Car,26.000,3.5,210.0,118.1,75.6,201.2,4.288,20.0,23,2012-02-08,85.217691,2012,February,8,0
67,Jeep,Wrangler,55.557,13.475,Car,14.460,2.5,120.0,93.4,66.7,152.0,3.045,19.0,17,2012-03-04,48.672898,2012,March,4,0
68,Jeep,Cherokee,80.556,13.775,Car,21.620,4.0,190.0,101.4,69.4,167.5,3.194,20.0,20,2012-10-05,76.584440,2012,october,5,0
69,Jeep,Grand Cherokee,157.040,18.810,Car,26.895,4.0,195.0,105.9,72.3,181.5,3.880,20.5,19,2011-12-10,80.387779,2011,December,10,0
84,Mitsubishi,Montero,11.337,19.125,Car,31.807,3.5,200.0,107.3,69.9,186.6,4.520,24.3,18,2012-01-17,83.920815,2012,January,17,0
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,178.3,3.510,19.5,20,2012-05-18,70.660942,2012,May,18,0
90,Mercury,Mountaineer,27.609,20.430,Car,27.560,4.0,210.0,111.6,70.2,190.1,3.876,21.0,18,2008-02-13,85.949744,2008,February,13,0
91,Mercury,Villager,20.380,14.795,Car,22.510,3.3,170.0,112.2,74.9,194.7,3.944,20.0,21,2009-10-20,69.671461,2009,october,20,0
104,Nissan,Quest,27.308,15.380,Car,26.399,3.3,170.0,112.2,74.9,194.8,3.991,20.0,21,2011-03-07,71.171664,2011,March,7,0
105,Nissan,Pathfinder,42.574,17.810,Car,29.299,3.3,170.0,106.3,71.7,182.6,3.947,21.0,19,2011-09-25,72.290355,2011,September,25,0
112,Oldsmobile,Bravada,20.017,19.925,Car,31.598,4.3,190.0,107.0,67.8,181.2,4.068,17.5,19,2011-09-21,80.511673,2011,September,21,0
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,201.4,3.948,25.0,22,2011-06-25,76.096570,2011,June,25,0
116,Plymouth,Voyager,24.155,12.025,Car,18.850,2.4,150.0,113.3,76.8,186.3,3.528,20.0,24,2011-04-24,60.951185,2011,April,24,0
140,Toyota,Tacoma,84.087,9.575,Car,11.528,2.4,142.0,103.3,66.5,178.7,2.580,15.1,23,2011-08-01,55.297117,2011,August,1,0
142,Toyota,RAV4,25.106,13.325,Car,16.888,2.0,127.0,94.9,66.7,163.8,2.668,15.3,27,2011-05-06,51.955109,2011,May,6,0
143,Toyota,4Runner,68.411,19.425,Car,22.288,2.7,150.0,105.3,66.5,183.3,3.440,18.5,23,2011-03-07,62.355577,2011,March,7,0
144,Toyota,Land Cruiser,9.835,34.080,Car,51.728,4.7,230.0,112.2,76.4,192.5,5.115,25.4,15,2011-09-25,102.528984,2011,September,25,0

In [59]:
data["Manufacturer"].unique()

26

In [57]:
data["Le_Manufacturer"]=le.fit_transform(data.Manufacturer)

In [58]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,Le_Vehicle,Le_Manufacturer
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,...,2.639,13.2,28,2012-02-02,58.280150,2012,February,2,1,0
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,...,3.517,17.2,25,2011-06-03,91.370778,2011,June,3,1,0
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,...,3.850,18.0,22,2011-03-10,91.389779,2011,March,10,1,0
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,...,2.998,16.4,27,2011-10-08,62.777639,2011,october,8,1,1
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,...,3.561,18.5,22,2011-08-09,84.565105,2011,August,9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,...,2.767,14.5,26,2011-01-24,46.943877,2011,January,24,1,25
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,...,2.853,14.5,26,2011-08-27,47.638237,2011,August,27,1,25
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,...,3.043,16.4,27,2012-10-30,61.701381,2012,october,30,1,25
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,...,3.079,13.7,26,2011-05-31,48.907372,2011,May,31,1,25
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,...,2.762,14.6,26,2011-04-01,47.946841,2011,April,1,1,25

In [60]:
data[data["Le_Manufacturer"]==1]

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,Le_Vehicle,Le_Manufacturer
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,...,2.998,16.4,27,2011-10-08,62.777639,2011,october,8,1,1
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,...,3.561,18.5,22,2011-08-09,84.565105,2011,August,9,1,1
6,Audi,A8,1.380,39.000,Passenger,62.00,4.2,310.0,113.0,74.0,...,3.902,23.7,21,2012-02-27,134.656858,2012,February,27,1,1

In [61]:
data

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,year,month,day,Le_Vehicle,Le_Manufacturer
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,...,2.639,13.2,28,2012-02-02,58.280150,2012,February,2,1,0
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,...,3.517,17.2,25,2011-06-03,91.370778,2011,June,3,1,0
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,...,3.850,18.0,22,2011-03-10,91.389779,2011,March,10,1,0
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,...,2.998,16.4,27,2011-10-08,62.777639,2011,october,8,1,1
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,...,3.561,18.5,22,2011-08-09,84.565105,2011,August,9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,...,2.767,14.5,26,2011-01-24,46.943877,2011,January,24,1,25
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,...,2.853,14.5,26,2011-08-27,47.638237,2011,August,27,1,25
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,...,3.043,16.4,27,2012-10-30,61.701381,2012,october,30,1,25
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,...,3.079,13.7,26,2011-05-31,48.907372,2011,May,31,1,25
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,...,2.762,14.6,26,2011-04-01,47.946841,2011,April,1,1,25

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    object
 18  day                  117 non-null    int64
 19  Le_Vehicle           117 non-null    int32
 20  Le_Manufacturer      117 non-null    int32
dtypes: datetime64[ns](1), float64(11), int32(2), int64(3), object(4)
memory usage: 19.2+ KB

In [63]:
data.Horsepower=data.Horsepower.astype("int64")

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    int64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    int64
 14  Latest_Launch        117 non-null    datetime64[ns]
 15  Power_perf_factor    117 non-null    float64
 16  year                 117 non-null    int64
 17  month                117 non-null    object
 18  day                  117 non-null    int64
 19  Le_Vehicle           117 non-null    int32
 20  Le_Manufacturer      117 non-null    int32
dtypes: datetime64[ns](1), float64(10), int32(2), int64(4), object(4)
memory usage: 19.2+ KB

In [66]:
data["Model"].unique()

array(['Integra', 'TL', 'RL', 'A4', 'A6', 'A8', '328i', '528i', 'Century',
       'Regal', 'Park Avenue', 'LeSabre', 'DeVille', 'Eldorado', 'Catera',
       'Cavalier', 'Malibu', 'Lumina', 'Monte Carlo', 'Camaro',
       'Corvette', 'Prizm', 'Metro', 'Sebring Coupe', 'Sebring Conv.',
       'Concorde', 'Cirrus', 'LHS', 'Neon', 'Avenger', 'Stratus', 'Viper',
       'Ram Pickup', 'Ram Wagon', 'Ram Van', 'Dakota', 'Caravan',
       'Escort', 'Mustang', 'Contour', 'Taurus', 'Crown Victoria',
       'Explorer', 'Windstar', 'Expedition', 'Ranger', 'F-Series',
       'Civic', 'Accord', 'CR-V', 'Passport', 'Odyssey', 'Accent',
       'Elantra', 'Sonata', 'I30', 'Wrangler', 'Cherokee',
       'Grand Cherokee', 'ES300', 'GS300', 'LS400', 'Continental',
       'Town car', 'Mirage', 'Eclipse', 'Galant', 'Diamante', '3000GT',
       'Montero', 'Montero Sport', 'Mystique', 'Cougar', 'Sable',
       'Grand Marquis', 'Mountaineer', 'Villager', 'C-Class', 'E-Class',
       'S-Class', 'SL-Class', 'Sentra', 'Altima', 'Maxima', 'Quest',
       'Pathfinder', 'Cutlass', 'Aurora', 'Bravada', 'Silhouette',
       'Breeze', 'Voyager', 'Sunfire', 'Grand Am', 'Firebird',
       'Grand Prix', 'Bonneville', 'Boxter', 'Carrera Coupe',
       'Carrera Cabrio', 'SL', 'SC', 'SW', 'Corolla', 'Camry', 'Avalon',
       'Celica', 'Tacoma', 'RAV4', '4Runner', 'Land Cruiser', 'Golf',
       'Jetta', 'Passat', 'Cabrio', 'GTI'], dtype=object)

In [2]:
df=pd.read_csv("C:\\Users\\USER\\DA\\Data Sets\\Car_sales.csv")

In [3]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [6]:
df.isnull().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [13]:
df.fillna(df.mean()["__year_resale_value"],inplace=True)

In [14]:
df.isnull().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    float64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    157 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [17]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360000,Passenger,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875000,Passenger,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225000,Passenger,18.072975,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,18.072975
3,Acura,RL,8.588,29.725000,Passenger,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255000,Passenger,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,18.072975,Passenger,24.400000,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,18.072975,Passenger,27.500000,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,18.072975,Passenger,28.800000,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,18.072975,Passenger,45.500000,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,18.072975,Passenger,36.000000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [24]:
df.Horsepower=df.Horsepower.astype("int64")

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    int64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    157 non-null    float64
dtypes: float64(11), int64(1), object(4)
memory usage: 19.8+ KB

In [26]:
df.Fuel_efficiency=df.Fuel_efficiency.astype("int64")

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    int64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    int64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    157 non-null    float64
dtypes: float64(10), int64(2), object(4)
memory usage: 19.8+ KB

In [28]:
df["Latest_Launch"]=pd.to_datetime(df.Latest_Launch)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    int64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    int64
 14  Latest_Launch        157 non-null    datetime64[ns]
 15  Power_perf_factor    157 non-null    float64
dtypes: datetime64[ns](1), float64(10), int64(2), object(3)
memory usage: 19.8+ KB

In [30]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360000,Passenger,21.500000,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150
1,Acura,TL,39.384,19.875000,Passenger,28.400000,3.2,225,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778
2,Acura,CL,14.114,18.225000,Passenger,18.072975,3.2,225,106.9,70.6,192.0,3.470,17.2,26,2012-01-04,18.072975
3,Acura,RL,8.588,29.725000,Passenger,42.000000,3.5,210,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779
4,Audi,A4,20.397,22.255000,Passenger,23.990000,1.8,150,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,18.072975,Passenger,24.400000,1.9,160,100.5,67.6,176.6,3.042,15.8,25,2011-09-21,66.498812
153,Volvo,S70,15.245,18.072975,Passenger,27.500000,2.4,168,104.9,69.3,185.9,3.208,17.9,25,2012-11-24,70.654495
154,Volvo,V70,17.531,18.072975,Passenger,28.800000,2.4,168,104.9,69.3,186.2,3.259,17.9,25,2011-06-25,71.155978
155,Volvo,C70,3.493,18.072975,Passenger,45.500000,2.3,236,104.9,71.5,185.7,3.601,18.5,23,2011-04-26,101.623357
156,Volvo,S80,18.969,18.072975,Passenger,36.000000,2.9,201,109.9,72.1,189.8,3.600,21.1,24,2011-11-14,85.735655

In [31]:
df["month"]=pd.DatetimeIndex(df.Latest_Launch).month

In [32]:
df["day"]=pd.DatetimeIndex(df.Latest_Launch).day
df["year"]=pd.DatetimeIndex(df.Latest_Launch).year

In [33]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,month,day,year
0,Acura,Integra,16.919,16.360000,Passenger,21.500000,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2,2,2012
1,Acura,TL,39.384,19.875000,Passenger,28.400000,3.2,225,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,6,3,2011
2,Acura,CL,14.114,18.225000,Passenger,18.072975,3.2,225,106.9,70.6,192.0,3.470,17.2,26,2012-01-04,18.072975,1,4,2012
3,Acura,RL,8.588,29.725000,Passenger,42.000000,3.5,210,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,3,10,2011
4,Audi,A4,20.397,22.255000,Passenger,23.990000,1.8,150,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,10,8,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,18.072975,Passenger,24.400000,1.9,160,100.5,67.6,176.6,3.042,15.8,25,2011-09-21,66.498812,9,21,2011
153,Volvo,S70,15.245,18.072975,Passenger,27.500000,2.4,168,104.9,69.3,185.9,3.208,17.9,25,2012-11-24,70.654495,11,24,2012
154,Volvo,V70,17.531,18.072975,Passenger,28.800000,2.4,168,104.9,69.3,186.2,3.259,17.9,25,2011-06-25,71.155978,6,25,2011
155,Volvo,C70,3.493,18.072975,Passenger,45.500000,2.3,236,104.9,71.5,185.7,3.601,18.5,23,2011-04-26,101.623357,4,26,2011
156,Volvo,S80,18.969,18.072975,Passenger,36.000000,2.9,201,109.9,72.1,189.8,3.600,21.1,24,2011-11-14,85.735655,11,14,2011

In [36]:
df["column"]=df.Latest_Launch

In [37]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,month,day,year,column
0,Acura,Integra,16.919,16.360000,Passenger,21.500000,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2012-02-02,58.280150,2,2,2012,2012-02-02
1,Acura,TL,39.384,19.875000,Passenger,28.400000,3.2,225,108.1,70.3,192.9,3.517,17.2,25,2011-06-03,91.370778,6,3,2011,2011-06-03
2,Acura,CL,14.114,18.225000,Passenger,18.072975,3.2,225,106.9,70.6,192.0,3.470,17.2,26,2012-01-04,18.072975,1,4,2012,2012-01-04
3,Acura,RL,8.588,29.725000,Passenger,42.000000,3.5,210,114.6,71.4,196.6,3.850,18.0,22,2011-03-10,91.389779,3,10,2011,2011-03-10
4,Audi,A4,20.397,22.255000,Passenger,23.990000,1.8,150,102.6,68.2,178.0,2.998,16.4,27,2011-10-08,62.777639,10,8,2011,2011-10-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,18.072975,Passenger,24.400000,1.9,160,100.5,67.6,176.6,3.042,15.8,25,2011-09-21,66.498812,9,21,2011,2011-09-21
153,Volvo,S70,15.245,18.072975,Passenger,27.500000,2.4,168,104.9,69.3,185.9,3.208,17.9,25,2012-11-24,70.654495,11,24,2012,2012-11-24
154,Volvo,V70,17.531,18.072975,Passenger,28.800000,2.4,168,104.9,69.3,186.2,3.259,17.9,25,2011-06-25,71.155978,6,25,2011,2011-06-25
155,Volvo,C70,3.493,18.072975,Passenger,45.500000,2.3,236,104.9,71.5,185.7,3.601,18.5,23,2011-04-26,101.623357,4,26,2011,2011-04-26
156,Volvo,S80,18.969,18.072975,Passenger,36.000000,2.9,201,109.9,72.1,189.8,3.600,21.1,24,2011-11-14,85.735655,11,14,2011,2011-11-14

In [41]:
df.day=df.day.astype("object")
df.month=df.month.astype("object")
df.year=df.year.astype("object")

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    int64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    int64
 14  Latest_Launch        157 non-null    datetime64[ns]
 15  Power_perf_factor    157 non-null    float64
 16  month                157 non-null    object
 17  day                  157 non-null    object
 18  year                 157 non-null    object
 19  column               157 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(10), int64(2), object(6)
memory usage: 24.7+ KB

In [47]:
df['row'] = df[['day',"month",'year']].apply('-'.join,axis=1)

TypeError: sequence item 0: expected str instance, int found

In [45]:
df['row'] = df[['day',"month",'year']].apply(lambda x: '_'.join(x), axis=1)

TypeError: sequence item 0: expected str instance, int found